.btn01 {
    margin-top: 2em;
    margin-right: 1em;
}

.diceWrapper {
    display: flex;
    justify-content: center;
    padding-right: 4.4em;
}

.decision01 {
    animation: textgrowth 2.5s infinite alternate;
    animation-iteration-count: 2;
    animation-delay: 1000ms;
}

.restarting01 {
    color: rgba(27, 46, 238, 0.85);
    font-weight: bold;
}

.outerJumbo {
    margin-bottom: 0;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

.outerContainer {
    background-color: green;
    margin-top: 0;
}

.spannedTitle {
    font-weight: bold;
    font-size: 1.5em;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    color: #814f05;
}

.turn01 {
    font-weight: bold;
    animation: textgrowth 1s infinite alternate;
    animation-iteration-count: 2;
    animation-delay: 800ms;
}

.sorryMessage01 {
    font-style: italic;
    font-weight: bolder;
}

@keyframes textgrowth {
    0% {
        font-size: 2em;
    }
    100% {
        font-size: 3em;
    }
}
