.badger01 {
    font-size: 2em;
    margin-right: .2em;
}

.dark {
    background: #AA8347;
    color: black;
    padding: .3em .5em .5em .5em;
    border: .1em outset  #966F33;
    width: 1.6em;
    height: 2.2em;
}

.light {
    background: #AA8347;
    padding: .3em .5em .5em .5em;;
    border: .1em outset  #966F33;
    width: 1.6em;
    height: 2.2em;
}


.keyContainer {
    display: flex;
    justify-content: center;
}

.cardContainer02_back{
    /*transform: translateZ(2rem);*/
    animation-name: rotate04;
    animation-duration: .4s;
    animation-iteration-count: 1;
}

@keyframes rotate04 {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotateY(90deg);
        -o-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }
}