.badger01 {
    font-size: 1.5em;
    margin-right: 0.2em;
}

@media (max-width: 430px) {
    .badger01 {
        font-size: 1.2em;
        margin-right: 0.2em;
    }
}

.dark {
    background: #aa8347;
    color: black;
    padding: 0.3em 0.5em 0.5em 0.5em;
    border: 0.12em outset #966f33;
    width: 1.6em;
    height: 2.2em;
}

.light {
    background: #aa8347;
    padding: 0.3em 0.5em 0.5em 0.5em;
    border: 0.12em outset #966f33;
    width: 1.6em;
    max-width: 1.6em;
    height: 2.2em;
}

.keyContainer {
    display: flex;
    justify-content: center;
}

.cardContainer02_back {
    /*transform: translateZ(2rem);*/
    animation-name: rotate04;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
}

@keyframes rotate04 {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotateY(90deg);
        -o-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }
}
